.Rproj.user

# Visual Studio Code configuration
.vscode/
.vscode/settings.json

# macOS file
.DS_Store

# output result
data/output/
ref_code/Lingwang_CCC/
ref_code/Lingwang_CCC/__pycache__/
data/input/data_by_sub/*
.vscode/settings.json
