.Rproj.user

# Visual Studio Code configuration
.vscode/
.vscode/settings.json

# macOS file
.DS_Store
.vscode/settings.json

# output result
data/output/
ref_code/Lingwang_CCC/
ref_code/Lingwang_CCC/__pycache__/
