.Rproj.user

# Visual Studio Code configuration
.vscode/
.vscode/settings.json

# macOS file
.DS_Store

# output result
ref_code/Lingwang_CCC/__pycache__/
*.html
.Rhistory
.idea/*
data/output/*
data/input/*
ref_code/Lingwang_CCC/data/*
ref_code/Lingwang_CCC/model_results_final/*
ref_code/Lingwang_CCC/model_results/*
ref_code/Lingwang_CCC/data_block/*
ref_code/Lingwang_CCC/model_results/*
ref_code/Lingwang_CCC/model_results_block/*
ref_code/Lingwang_CCC/model_results_final_single_alpha/*
